/* 
for container
1. jusify-content распределяет пространство вокруг эл-в
2. flex-direction
3. align-items выравнивание по вертикали
4. flex-wrap как сильно будет сжимться и будет ли перенос

child
1. flex-grow сколько нужно свободного пространства коэф увеличения
2. flex-shrink коэф уменьшения
3. flex-basis ширина элемента
4. align-self
*/


.container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: nowrap;

}

.container_styles{
    background-color: dodgerblue;
    height: 500px;
    width: 600px;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-space-between{
    justify-content:space-between;
}

.dir_row{
    flex-direction: row-reverse;
}

.dir_col{
    flex-direction: column-reverse;
}

.item{
    width: 100px;
    height: 100px;
    flex-grow: 1;
}

.item_styles{
    background-color: lightgray;
    border:2px solid black;
    text-align: center;
    font-size: 30px;
    color: white;
}

.grow1{
    flex-grow: 1;
}

.grow2{
    flex-grow: 2;
}

.grow3{
    flex-grow: 3;
}

.grow4{
    flex-grow: 4;
}