/* 
p{  
    font-size: 14px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-style: italic;
    font-stretch: wider;
    color:rgba(19, 95, 52, 1);
    background-color: yellow;
    text-transform:uppercase;
    letter-spacing: 5px;
    word-spacing: 10px;
    opacity:0.75;
}
h1{
    color:red;
}
h2{
    color:orange;
} */
/* 
.c1{
    background-color: yellow;
    font-weight: bold;
}
.b1{
    font-size: 24px;
}

.t_up{
    text-transform: uppercase;
}

p{
    font-size: 16px;
    font-weight: normal;
}

.cl_img{
    width: 100px;
    height: 100px;
} */

.cardCont{
    border-width: 2px;
    border-color: blue;
    border-style:solid;    
    width: 300px;
    height: 400px;
    border-radius: 20px;
}

.photoCont{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwuPxeszmtNz32f5hUfXS4rev29qIQG6MKdEsJ8_9YrD-A7FecfvWI-9YuF3YeB9wUsns&usqp=CAU');
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    margin: 10px;
    margin: 40px 10px 20px 10px;
}

.infoCont{
    border: 1px solid gray;
    border-style: none;

}

.userName{
 font-weight: bold;
 font-size: 25px;
 color: rgba(0,0,0,1);
 text-align: center;
}

.userJob{
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,0.5);
    text-align: center;
}

.buttonStyle{
    border: 1px solid black;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.75);
    color: rgba(255, 255, 255, 1);

}

li{
    border: 2px solid black;
    font-size: 20px;
   margin: 10px;
   padding: 20px 10px 20px 10px;
   box-sizing: border-box;

}

div {
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin: 10px;
    box-sizing: border-box;
}

.div2 {
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-left: 40px;
    }

.cont{
    background-color: yellow;
    border: 2px solid blue;
    width: 400px;
    height: 600px;
}