/* 
p{  
    font-size: 14px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-style: italic;
    font-stretch: wider;
    color:rgba(19, 95, 52, 1);
    background-color: yellow;
    text-transform:uppercase;
    letter-spacing: 5px;
    word-spacing: 10px;
    opacity:0.75;
}
h1{
    color:red;
}
h2{
    color:orange;
} */

.c1{
    background-color: yellow;
    font-weight: bold;
}
.b1{
    font-size: 24px;
}

.t_up{
    text-transform: uppercase;
}

p{
    font-size: 16px;
    font-weight: normal;
}

.cl_img{
    width: 100px;
    height: 100px;
}
